<router-outlet></router-outlet>

<div id="mySidenav" class="sidenav">
  <!-- <a (click)="showMenu()" class="menu"><span class="glyphicon glyphicon-remove"></span></a> -->
  <i class="material-icons" (click)="home()">home</i>
  <i class="material-icons" (click)="info()">info_outline</i>
  <i class="material-icons" (click)="help()">help_outline</i>
  <i class="material-icons" (click)="logout()">exit_to_app</i>
</div>

<div class="header navbar-fixed-top">
  <div class="row">
    <ul>
      <li class="col-xs-3"></li>
      <li class="col-xs-6">
        <a *ngIf="user" [routerLink]="['profile']" class="greeting">Hello, {{user.fullName}}</a>
        <a *ngIf="!user"[routerLink]="['home']" class="logo">{{title}}</a>
      </li>
      <!-- <li *ngIf="!user" class="col-xs-3">
      </li> -->
      <li id="menuIcon" class="col-xs-3">
        <a (click)="showMenu()" class="menu"><span class="glyphicon glyphicon-th-list"></span></a>
      </li>
    </ul>
  </div>
</div>


<div id="footer" class="footer navbar-fixed-bottom">
  <div class="row">
    <ul>
      <li class="col-xs-3">
        <a id="contacts" [routerLink]="['contacts']"><i class="material-icons">people</i></a>
      </li>
      <li class="col-xs-6">
        <a id="profile" [routerLink]="['profile']"><i class="material-icons">person</i></a>
      </li>
      <li class="col-xs-3">
        <a id="events" [routerLink]="['events']"><i class="material-icons">person_pin</i></a>
      </li>
    </ul>
  </div>
</div>
