<div class="page-content">

<router-outlet></router-outlet>

<p *ngIf="message" class="message"></p>

  <div *ngIf="defaultCard" class="one-card">
      <div class="wrapper">
        <div class="row">
          <div class="col-xs-4 image-wrapper">
            <img src="{{defaultCard.profilePic}}" alt="{{defaultCard.fullName}}" >

          </div>
          <div class="col-xs-8 information">
            <p class="name">{{defaultCard.fullName}}</p>
            <p class="position-company">{{defaultCard.position}}
            {{defaultCard.companyName}}  </p>

          </div>
            </div>
  <div class="row">
  <div class="col-xs-4">

  <div class="share"> <a href="mailto:?subject={{defaultCard.fullName}} shared the card with you&body=
  Hi here is the link to add my business card to your contacts: {{cardUrl}}">
  <i class="material-icons">person_add</i></a></div>
  </div>
  <div class="col-xs-8">
  <p class="contact-info">
    <a *ngIf="defaultCard.email"    href="mailto:{{defaultCard.email}}"><img src="../../assets/images/email.png"></a>
    <a *ngIf="defaultCard.phoneNum" href="tel:{{defaultCard.phoneNum}}"><img src="../../assets/images/call.png"></a>
    <a *ngIf="defaultCard.linkedIn" href="{{defaultCard.linkedIn}}" target="_blank"><img src="../../assets/images/linkedin.png"></a>
    <a (click)="enlargeQr()" class="QRicon"><img src="../../assets/images/qrcode.png"></a>
      <br>
  </p>
  <div (click)="enlargeQr()" class="QRcode"></div>
  </div>
  </div>
</div>

</div>

<div class="feed">
   <h2> Stats </h2>
  <h4> Tip of the day </h4>
  <p> <i class="material-icons">lightbulb_outline</i> put tip here </p>
<p> You don't have any upcoming events </p>
 <p> You have been using application for ... </p>
 <p> which saved this many trees, this much money and
   this much time </p>
</div>

</div>
