
$bg: linear-gradient(to right, #E75A7C, #141B41);
$bg_wrapper: linear-gradient(to left, #306BAC, #141B41);
$on: linear-gradient(to right, rgb(101, 181, 114), #058615);
$black: #212129;

#landing {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.share {
color: white;
font-size: 1.5em;
text-align: center;
margin-top: 0.5em;

i {
vertical-align: middle;
color: white;
font-size: 1.7em;
}
}

.feed {
  padding: 1em;
  font-size: 1.5em;
  color: white;
  i {
    color: rgb(219, 201, 39);
  vertical-align: bottom;
  }
  color: white;
  h2 {
    margin: 0 0 1.0em 0;
    text-align: center;
  }
  p {
    font-style: italic;
  }
}

.one-card {
  padding: 1em 2.5em;

#on {
  background: $on;
  color: white;
  // font-style: oblique;
  font-weight: bolder;
  font-size: 1.1em
}


  .welcome {
    display: inline-block;
    color: white;
    font-size: 1.2em
  }

  .wrapper {
    width: 100%;
    background: $bg_wrapper;
    color: white;
    // margin-left: 10px;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 50px 1px white;

    .image-wrapper img {
      width: 5em;
      border-radius: 50%;
    }

      .name {
        font-size: 1.5em;
        text-transform: capitalize;
      }

      .position-company {
        text-transform: capitalize;
        font-size: 1em;
        font-style: italic;
      }
    }
  }

  .on-off {
    display: inline-block;
    text-align: center;
    margin: 20px 0 0 10px;
  }

  .contact-info {
    img {
      margin: 15px 5px 0 0;
      width: 2em;
      height: 2em;
    }
  }

  .QRcode {
    display: none;
    width: 8em;
    height: 8em;
  }
